version: '3'
services:
  nginx:
    build:
      context: ./services/nginx
      args:
        CONTAINER_PACKAGE_URL: ${CONTAINER_PACKAGE_URL}
        NGINX_VERSION: nginx:${NGINX_VERSION}
    container_name: nginx
    ports:
      - "${NGINX_HTTP_PORT}:80"
      - "${NGINX_HTTPS_PORT}:443"
    volumes:
      - ${PROJECTS_DIR}:/www/:rw
      - ${NGINX_SSL_CERTIFICATE_DIR}:/ssl:rw
      - ${NGINX_CONFD_DIR}:/etc/nginx/conf.d/:rw
      - ${NGINX_CONF_FILE}:/etc/nginx/nginx.conf:ro
      - ${NGINX_FASTCGI_PHP_CONF}:/etc/nginx/fastcgi-php.conf:ro
      - ${NGINX_FASTCGI_PARAMS}:/etc/nginx/fastcgi_params:ro
      - ${NGINX_LOG_DIR}:/var/log/nginx:rw
    environment:
      TZ: "$TZ"
    restart: always
    networks: 
      - backend

  php:
    build:
      context: ./services
      dockerfile: ./php/Dockerfile
      args:
        CONTAINER_PACKAGE_URL: ${CONTAINER_PACKAGE_URL}
        PHP_VERSION: php:${PHP_VERSION}-fpm-alpine
        PHP_EXTENSIONS: ${PHP_EXTENSIONS}
        TZ: "$TZ"
    container_name: php
    expose:
      - 9501
    volumes:
      - ${PROJECTS_DIR}:/www/:rw
      - ${PHP_CONF_FILE}:/usr/local/etc/php/php.ini:ro
      - ${PHP_FPM_CONF_FILE}:/usr/local/etc/php-fpm.d/www.conf:rw
      - ${PHP_LOG_DIR}:/var/log/php
      - ${PHP_COMPOSER_DATA}:/tmp/composer
    restart: always
    networks: 
      - backend

  mysql:
    image: mysql:${MYSQL_VERSION}
    container_name: mysql
    ports:
      - "${MYSQL_PORT}:3306"
    volumes:
      - ${MYSQL_CONF_FILE}:/etc/mysql/conf.d/mysql.cnf:ro
      - ${MYSQL_DATA_DIR}:/var/lib/mysql/:rw
    environment:
      MYSQL_ROOT_PASSWORD: "${MYSQL_ROOT_PASSWORD}"
      TZ: "$TZ"
    restart: always
    networks: 
      - backend
    
  redis:
    image: redis:${REDIS_VERSION}
    container_name: redis
    ports:
      - "${REDIS_PORT}:6379"
    volumes:
      - ${REDIS_CONF_FILE}:/etc/redis.conf:ro
      - ${REDIS_DATA_DIR}:/data/:rw
    restart: always
    entrypoint: ["redis-server", "/etc/redis.conf"]
    environment:
      TZ: "$TZ"
    networks:
      - backend

  # elasticsearch:
  #   build:
  #     context: ./services/elasticsearch
  #     args:
  #       ELASTICSEARCH_VERSION: ${ELASTICSEARCH_VERSION}
  #       ELASTICSEARCH_PLUGINS: ${ELASTICSEARCH_PLUGINS}
  #   container_name: elasticsearch
  #   environment:
  #     TZ: $TZ
  #     discovery.type: single-node
  #     ES_JAVA_OPTS: -Xms512m -Xmx512m
  #   volumes:
  #     - ${ELASTICSEARCH_DATA}:/usr/share/elasticsearch/data
  #     - ${ELASTICSEARCH_CONF_FILE}:/usr/share/elasticsearch/config/elasticsearch.yml
  #   hostname: elasticsearch
  #   restart: always
  #   ports:
  #     - "${ELASTICSEARCH_HOST_PORT_C}:9200"
  #     - "${ELASTICSEARCH_HOST_PORT_S}:9300"
 
  # clickhouse:
  #   image: clickhouse/clickhouse-server
  #   container_name: clickhouse
  #   ports:
  #     - "${CLICKHOUSE_PORT_JDBC}:8123"
  #     - "${CLICKHOUSE_PORT_DRIVER}:9000"
  #   volumes:
  #     - ${CLICKHOUSE_DATA}:/var/lib/clickhouse:rw
  #     - ${CLICKHOUSE_CONFIG}:/etc/clickhouse-server/config.xml:ro
  #     - ${CLICKHOUSE_USERS}:/etc/clickhouse-server/users.xml:ro
  #     - ${CLICKHOUSE_SERVER_LOG}:/var/log/clickhouse-server
  #   restart: always
  #   environment:
  #     TZ: $TZ
  #   networks:
  #     - backend
  
networks:
  backend:
    driver: bridge 
